@mixin outboundlink(){
  @include pad(.5em);
  padding-right:5em;

  background-repeat: no-repeat;
  background-image: url('../images/ui/icon-arrow.svg');
  background-position: 80% 50%;
  background-size:.8em;
  white-space: nowrap;

  display:inline-block;

  color:$green;

  text-decoration: none;
  text-transform: uppercase;

  transition: border-color 1s;
}