@mixin outboundlink(){
  @include pad(1em);
  padding-right:4em;

  background-repeat: no-repeat;
  background-image: url('../images/ui/icon-arrow.svg');
  background-position: 80% 50%;

  text-decoration: none;
  text-transform: uppercase;
  border:$blue 1px solid;

  transition: border-color 1s;

  &:hover {
    border:$white 1px solid;
  }
}