@mixin outboundlink(){
  @include pad(.5em);
  padding-right:2em;

  background-repeat: no-repeat;
  background-image: url('../images/ui/icon-arrow.svg');
  background-position: 80% 50%;
  background-size:20% 20%;
  white-space: nowrap;

  display:inline-block;

  color:$green;

  text-decoration: none;
  text-transform: uppercase;
  border:$blue 1px solid;

  transition: border-color 1s;

  &:hover {
    border:$white 1px solid;
  }
}