main {
  .fiddles {
    @include outer-container();
    @include pad($global-content-padding);

    .fiddle {
      @include outer-container();
      margin:3em 0;

      h2 {
        @include span-columns(12);
        color:$green;
      }

      img {
        @include span-columns(3);
        @include pad(1em 2em 1em 0);
      }

      p {
        @include span-columns(5);
        @include pad(1em 0 0 0);
      }

      .link {
        @include span-columns(3);
        @include shift(1);

        a {
          @include outboundlink();
          margin:3em 0;
        }

      }

    }

  }
}