main {
  .fiddle-listing {
    @include outer-container();
    @include pad($global-content-padding);

    .fiddle {
      @include row();
      margin: 3em 0;
      cursor: pointer;

      h2 {
        color: $green;

        @include media($mobile) {
          @include span-columns(12);
          text-align: center;
        }

        @include media($tablet) {
          @include span-columns(8);
          @include shift(2);
          text-align: left;
        }
      }

      img {
        @include media($mobile) {
          @include span-columns(12);
          @include pad(0em 5em);

        }

        @include media($tablet) {
          @include span-columns(3);
          @include shift(2);
          @include pad(1em 3em 1em 0);
        }

      }

      p {
        @include media($mobile) {
          @include span-columns(12);
        }

        @include media($tablet) {
          @include span-columns(4);
        }

        @include pad(1em 0 0 0);
      }

      .go-see-cta {
        @include media($mobile) {
          @include span-columns(12);
        }

        @include media($tablet) {
          @include span-columns(1);
          @include shift(1);
          margin-top:3em;
        }

        @include outboundlink();


      }

    }
  }

  .fiddle-entry {
    @include outer-container();

    h1 {
      @include span-columns(12);
      text-align: center;
      color: $green;
      font-weight: normal;
      font-size: rem($base-font-size*3);
    }

    img {
      @include media($mobile) {
        @include span-columns(8);
        @include shift(2);

      }
      @include media($tablet) {
        @include shift(4);
        @include pad(3em);

      }

    }

    .content-wrapper {
      @include span-columns(12);
      @include pad($global-content-padding);

      .content {
        @include span-columns(8);

      }

      .links {
        @include media($mobile) {
          @include span-columns(12);
        }

        @include media($tablet) {
          @include span-columns(4);
        }

        .demo, .git {
          @include outboundlink();
          display: table;
        }
      }
    }
  }
}