.container {
  header {
    @include outer-container();
    @include pad($global-content-padding);


    .brand {
      display: flex;
      justify-content: center;

      margin:3rem 0;

      a:link, a:visited, a:hover {
        text-decoration: none;
        font-size: rem($base-font-size*3);
      }
    }


    nav {
      @include outer-container();

      margin:3rem 0;


      ul {
        display:flex;
        justify-content: space-between;
        padding:0;

        li {

          padding:1rem 1rem 1rem 4rem;
          list-style: none;

          background-color: $menu-item-background-color;
          background-repeat: no-repeat;
          background-position: 0.7em;

          @include media($mobile){
            display:none;
          }


          &.fiddles {
            background-image: url('../images/ui/icon-tools.svg');
          }

          &.about {
            background-image: url('../images/ui/icon-face.svg');
          }

          &.github {
            background-image: url('../images/ui/icon-git.svg');
          }

          a:link, a:visited, a:hover {
            text-decoration: none;
            color:$black;
            text-transform:none;

            transition: color 1s, background-color 1s;
          }


        }
      }
    }
  }
}