.container {
  header {
    @include outer-container();


    .brand {
      display: flex;
      justify-content: center;
      @include outer-container();
      font-size:$font-size-logo;
    }


    nav {
      @include outer-container();


      ul {
        display:flex;
        justify-content: space-between;

        li {

          padding:1rem;
          list-style: none;
          text-transform: uppercase;
          background-color: $menu-item-background-color;

          a:link, a:visited, a:hover {
            text-decoration: none;
          }

          &.fiddles {

          }

          &.about {

          }

          &.github {

          }

        }
      }
    }
  }
}