.container {
  header {
    @include outer-container();
    @include pad($global-content-padding);


    .brand {
      display: flex;
      justify-content: center;

      margin:3rem 0;

      a:link, a:visited, a:hover {
        text-decoration: none;
        font-size: rem($base-font-size*2);
      }
    }



  }
}