nav {
  @include outer-container();

  @include media($tablet){
    margin:3rem 0;

  }

  .mobile-toggle {
    @include span-columns(12);
    display:flex;
    justify-items:center;
    justify-self: right;

    @include media($tablet){
      display:none;
    }

    .toggle-button {
      position: relative;
      display:flex;
      margin-left:auto;
      width: 2em;
      height: 2em;
      text-decoration: none;

      &:after {
        position:absolute;
        width:40px;
        height:40px;
        top:25%;
        left:40px;
        content:'';
        background-image: url('../images/ui/icon-menu-dropdown-arrow.svg');
        background-repeat:no-repeat;

      }
    }
  }


  .menu {
    display:block;
    position: relative;
    overflow:visible;

    ul {
      perspective: 1000px;
      overflow:visible;
      max-height:2000px;
      transition: max-height 700ms cubic-bezier(.86,0,.07,1) 0s;

      li {
        transform: rotateX(0deg) translateZ(0px);
        transition: transform .2s, opacity .2s;
        opacity: 1;
        transition-timing-function: ease-out;

        &.fiddles {
          transition-delay: .0s;
        }
        &.about {
          transition-delay: .1s;
        }
        &.github {
          transition-delay: .2s;
        }
      }
    }


    &.mobile-collapsed {

      @include media($mobile-only){
        ul {
          max-height:0px;

          li {
            opacity: 0;

            &.fiddles {
              transform: rotateX(90deg) translateZ(1em);
              transition-delay: .2s;
            }

            &.about {
              transform: rotateX(90deg) translateZ(5em);
              transition-delay: .1s;
            }

            &.github {
              transform: rotateX(90deg) translateZ(10em);
              transition-delay: .0s;
            }
          }
        }

      }

    }
  }


  ul {
    @include span-columns(12);

    display:flex;
    justify-content: space-between;
    padding:0;
    height:auto;
    overflow: hidden;
    transition: height 0.7s;

    &.collapsed {
      height:0;
    }

    @include media($mobile){
      flex-direction:column;
    }
    @include media($tablet){
      flex-direction: row;
      justify-content: center;
    }

    li {
      @include pad(1em 1em 1em 4em);
      list-style: none;
      display: flex;
      padding:0;

      background-color: $menu-item-background-color;
      background-repeat: no-repeat;
      background-position: 0.7em;
      transition-property: transform, background-color;
      transition-duration: 0.3s;

      transform: scaleX(1) scaleY(1);
      transform-style: preserve-3d;


      &:hover {
        transform: scaleX(1.1) scaleY(1.1);
        background-color: $menu-item-background-color * .9;
        transition-property: transform, background-color;
        transition-duration: 0.3s;
      }

      @include media($mobile){
        margin: 0.1em 0;
      }
      @include media($tablet){
        margin:0 1em;
      }

      &.fiddles {
        background-image: url('../images/ui/icon-tools.svg');
      }

      &.about {
        background-image: url('../images/ui/icon-face.svg');
      }

      &.github {
        background-image: url('../images/ui/icon-git.svg');
        background-position: 1em;
      }

      a.menu-title:link, a.menu-title:visited, a.menu-title:hover {
        text-decoration: none;
        color:$black;
        text-transform:none;
        padding:1em 1em 1em 4em;

        transition: color 1s;
      }
    }
  }
}