

div, a, p{
  font-family: $font-family;
  font-size: rem($base-font-size);
}


body {
  background-color: $main-background-color;
  margin:0;
  color: $text-color;
  font-size:rem($base-font-size);

  .container {
    @include outer-container(12);
  }
}


a:link, a:visited{
  color:$text-color;

  &:hover {
    color:$text-color * .8;
  }
}