@use '../../styles/global.module.scss' as *;

.card {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--spacing-xlarge);
  gap: var(--spacing-small);
  text-align: left;
}

.cardImage {
  display: flex;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
}

.cardImage > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.cardTitle {
  color: var(--color-primary);
  margin: 0 0 var(--spacing-small) 0;
  font-weight: var(--font-weight-regular);
}

.cardDescription {
  color: var(--color-secondary);
  font-size: var(--font-size-small);
}

.cardLink {
  color: var(--color-text);
}

@include mobile {
    .card {

    }
  }
