{
  "extends": "eslint:recommended",
  "rules":{
    "camelcase": 1,
    "comma-dangle": 2,
    "no-console": 0,
    "no-undef":0,
    "no-unused-vars": [1, { "vars": "local" }]
  },
  "env": {
    "es6": true
  }
}