<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" href="{{ siteUrl }}dist/styles/app.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
</head>

<body>
	<div id="container" class="container">
		<header id="header">
			<div class="brand"><a href="{{ siteUrl }}">{{ siteName }}</a></div>

			<nav class="navigation" role="navigation">
				<div class="mobile-toggle"><a href="#" class="toggle-button" id="mobileMenuToggle">MENU</a></div>
				{{craft.olivemenus.getMenuHTML('mainMenu',{ 'menu-id': 'mymenu', 'menu-class':'mobile-collapsed' })}}</nav>

		</header>

		<main id="content" role="main">
			{% block content %}

			{% endblock %}
		</main>

		<footer id="footer">
			{{ footer.body }}
		</footer>
	</div>
	<script src="{{ siteUrl }}dist/scripts/app.js"></script>
</body>
</html>
