@import '../../styles/breakpoints.module.scss';

.aboutSection {
  color: var(--color-text);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 3rem 0> 2rem 0;

  .content {
    flex: 1 1 320px;
    columns: 1;
    column-gap: 2rem;
    break-inside: avoid;
    vertical-align: top;

    @include desktop-up {
      columns: 2;
    }
  }
}
