@use '../../styles/global.module.scss' as *;

.aboutSection {
  @include section;

  .content {
    flex: 1 1 320px;
    columns: 1;
    column-gap: 2rem;
    break-inside: avoid;
    vertical-align: top;

    @include desktop-up {
      columns: 2;
    }
  }
}
