
$font-family: 'Arial';
$font-size:   12pt;


$primary-color:     #333333;
$secondary-color:   #ffff44;
$tertiary-color:    #dddddd;


$background-black:  $primary-color;
$text-color:        $tertiary-color;



