
$font-family: 'Inconsolata', 'Courier New', serif;
$base-font-size:   16;



// -----------------------------------
// Padding and sizing
// -----------------------------------
$max-width:                   1200px !default;
$global-content-padding:      0 2em;




// -----------------------------------
// Colors
// -----------------------------------

// General color definitions
//
$black:                       #333333;
$white:                       #eeeeee;
$green:                       #ADB47E;
$blue:                        #2E354D;
$blue-dark:                   #282D42;

// Component and element specific definitions
$main-background-color:       $blue;
$menu-item-background-color:  $green;

$feature-background-color:    $blue-dark;
$feature-text-color:          $green;

$text-color:                  $white;

// ------------------------------------
// Breakpoints and grid
// ------------------------------------

$grid-columns: 12;
$max-width:1200px;

$mobile: new-breakpoint(min-width 0px $grid-columns);
$mobile-only: new-breakpoint(max-width 919px $grid-columns);
$tablet: new-breakpoint(min-width 920px $grid-columns);
$desktop: new-breakpoint(min-width 1200px $grid-columns);
