
$font-family: 'Inconsolata', 'Courier New', serif;
$font-size:   12pt;



$max-width: 1200px !default;

$black:  #333333;
$secondary-color:   #ffff44;
$tertiary-color:    #dddddd;


$menu-item-background-color: #ADB47E;

$text-color:        $tertiary-color;


