@import './breakpoints.module.scss';

.body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: 'Fira Code', monospace;
  margin: 0;
}

.mainWrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 var(--spacing-medium);

  @include mobile {
    padding: 0 1rem;
  }
}

/* General overrides */
p {
  line-height: 1.5rem;
  margin: 0 0 var(--spacing-medium) 0;
}
