:root {
  --color-primary: #d8d597;
  --color-secondary: #8eb45f;
  --color-background: #313131;
  --color-text: #cecece;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
}
