:root {
  --color-primary: #d8d597;
  --color-primary-dark: #595845;
  --color-secondary: #8eb45f;
  --color-background: #313131;
  --color-text: #cecece;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-xlarge: 3.5rem;
  --spacing-xxlarge: 5rem;
  --font-size-small: 0.95rem;
  --font-size-regular: 1rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 2rem;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
