.root {
  /* This class applies the theme variables to the body */
}

.main-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (max-width: 600px) {
  .main-wrapper {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

:root {
  --color-primary: #D8D597;
  --color-secondary: #8EB45F;
  --color-background: #313131;
  --color-text: #CECECE;
} 