@use '../../styles/global.module.scss' as *;

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacing-large);
  padding: 0 0 var(--spacing-large) 0;

  .profileImage {
    border-radius: 50%;
    height: 220px;
    margin-bottom: var(--spacing-large);
    object-fit: cover;
    width: 220px;
  }

  .heroTitle {
    color: var(--color-primary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-xlarge);
    margin: 0 0 var(--spacing-small) 0;
  }

  .heroSubtitle {
    color: var(--color-secondary);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-regular);
    text-align: center;
    text-wrap: balance;
    margin: 0;
  }
}
