@use '../../styles/global.module.scss' as *;

.projectsSection {
  @include section;

  .projectsTitle {
    color: var(--color-primary);
    font-size: var(--font-size-xlarge);
    margin-bottom: var(--spacing-medium);
    text-align: left;
  }

  .projectsColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-large);
    width: 100%;
  }

  @include mobile {
    .projectsColumns {
      grid-template-columns: 1fr;
    }
  }
}
