{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "layout/_base" %}

{% block content %}
  <div class="row feature">
     {{ entry.ingress }}
  </div>

<div class="container">
 <div class="fiddles">
  {% for item in craft.entries.section('fiddles') %}
   <div class="fiddle">
    <h2>{{ item.title }}</h2>
    <img src="{{ item.image[0].url }}" />
    <p>{{ item.ingress }}</p>
    <a href="">Go see</a>

   </div>

  {% endfor %}
 </div>

</div>

{% endblock %}
